
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div> 
        <h2>Display Data</h2>
        <h4>@ViewData["v1"]</h4>
        <h4>@ViewBag.v2</h4>
        <h4>@TempData["v3"]</h4>
        <h4>@Session["v4"]</h4>
    </div>
</body>
</html>
